@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  /*  h1 {
    @apply text-4xl mb-4 mx-8;
  }

  h2, h3 {
    @apply mb-2 mt-12 text-2xl mx-8;
  }

  p {
    @apply my-4 leading-relaxed mx-18 text-xl; 
  }

  h1 + h2 + p {
    @apply first-letter:text-4xl  mx-18 text-xl;
  }

  h1 + p {
    @apply first-letter:text-4xl  mx-18 text-xl ;
  }

  h1::before,
  h2::before,
  h3::before{
    @apply mr-2 text-pink dark:text-yellow-300 ;
    content: "#";
  }   
  
  pre {
    @apply my-6 p-3 rounded-xl text-sm mx-18;
  }

  p > code {
    @apply px-2 py-1 bg-pink dark:bg-yellow-300 text-light dark:text-dark rounded-lg whitespace-nowrap text-lg ;
  }

  #buttonblog{
    @apply mx-18;
  }

  #skillCards{
    @apply ml-18;
  }


  */

  h1 {
    @apply text-3xl md:text-4xl mb-6 md:mb-8;
  }

  h2, h3 {
    @apply mb-2 mt-8 ;
  }

  h2 {
    @apply text-2xl md:text-3xl ;
  }

  h3 {
    @apply  text-xl md:text-2xl ;
  }

  p {
    @apply my-4 leading-relaxed text-lg md:text-xl; 
  }

  h1 + h2 + p {
    @apply md:first-letter:text-3xl first-letter:text-2xl first-letter:font-bold;
  }

  h1 + p {
    @apply md:first-letter:text-3xl first-letter:text-2xl first-letter:font-bold;
  }

  h1::before,
  h2::before,
  h3::before{
    @apply mr-1 text-pink dark:text-yellow-300 ;
    content: "#";
  }   

  p > a {
    @apply text-pink dark:text-yellow-300 hover:underline;
  }


  #blog-post-div {
    @apply lg:float-right lg:w-1/2 lg:ml-4 ;
  }

  #blog-post-div > img{
    @apply rounded-xl;
  }  

  #blogcards-image{
    @apply rounded-md;

  }

  #blog-post-div > ul{
    @apply list-disc border-2 border-pink dark:border-yellow-300 rounded-xl text-base text-pink dark:text-yellow-300 py-2 px-4 my-8;
  }

  #blog-post-div li{
    @apply my-2 mx-4 list-disc ;
  }

  pre {
    @apply my-6 p-3 rounded-xl text-sm ;
  }

  p > code {
    @apply px-2 py-0.5 bg-pink dark:bg-yellow-300 text-light dark:text-dark rounded-lg whitespace-nowrap text-lg md:text-xl ;
  }

  /* check here */
  /* .NavigationSocialBar{
    @apply md:mr-6;
  }
  
  .NavigationLinks{
    @apply md:ml-4;
  } */

  .index-main-image{
    border: none;
    border-radius: 3rem;
    mix-blend-mode:normal;
    @apply bg-blend-lighten dark:mix-blend-lighten mix-blend-darken;
  }
  
  #skillCards > div {
    @apply py-1 text-xl md:text-2xl; 
  }

  
  .skillslist {
    @apply py-0.25  text-lg md:text-xl grid md:grid-rows-1 grid-rows-1 justify-center text-center;
  }

  #buttonblog{
    
  }

  .blogcardtext {
    height: 5rem;
  }
  .skillslist > div {
    @apply  mr-1  text-center justify-center mb-1 ;

  }
  .skillslist > Icon {
    @apply grid grid-cols-2 text-center;

  }

  /* Define a transition duration during page visits */
  .swuptransition-fade{
    transition: opacity 0.4s;
    opacity: 1;
    transform: none;
  }

  /* Define the styles for the unloaded pages */
  html.is-animating .swuptransition-fade {
    opacity: 0;
    transform: translateY(20px);
  }

  .blogcardpublisher{
    /* width: 10%; */
    grid-template-columns: 0.25fr;
  }

  .blogcardfooter{
    display: grid;
    grid-template-columns: 1fr 6fr;
  }
}