---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Muhammad Mostey | About">
    
    <h1 id="who-am-i" >Who am I? </h1>
    
    <!-- Summary -->
    <h2 class="mt-6 mb-6">Summary</h2>
    <p>Self-taught individual currently pursuing a <span class="key-information">Bachelor's degree in Computer Science</span> with the University of the People. 
        My fervor and enthusiasm lie in the realms of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements 
        in Technology and Computer Sciences at large.
    </p>
    
  

    <p>Experienced with more than 8 years working with Humanitarian NGOs, Private Firms, and Agencies across different countries. Worked in several sectors such as 
        <span class="key-information">Financial Accounting, Information Technology, Administration, and Customer Service.</span>
    </p>


    
    <!-- Skills -->
    <h2 id="skills" class="mt-12 mb-6">Skills </h2>

    <div class="grid grid-cols-4 my-6 gap-4" id="skillCards">

        <Card>
            <span slot="title"> Programming Languages </span>
            <div class="py-0.5">Java</div>
            <div class="py-0.5">Python</div>
            <div class="py-0.5">Javascript</div>
            <div class="py-0.5">C++</div>
            <div class="py-0.5">PHP</div>
            <div class="py-0.5">R</div>

        </Card>

        <Card>
            <span slot="title"> Web Development </span>
            <div class="py-0.5">HTML</div>
            <div class="py-0.5">CSS</div>
            <div class="py-0.5">Tailwind CSS</div>
            <div class="py-0.5">Astro</div>
            <div class="py-0.5">WordPress</div>
        </Card>


        <Card>
            <span slot="title"> Database Technologies </span>
            <div class="py-0.5">SQL</div>
            <div class="py-0.5">MySQL</div>
            <div class="py-0.5">Relational Database Design</div>
        </Card>


        <Card>
            <span slot="title"> Tools and Systems </span>
            <div class="py-0.5">VS Code</div>
            <div class="py-0.5">Git & Github</div>
            <div class="py-0.5">Windows</div>
            <div class="py-0.5">Linux</div>
            <div class="py-0.5">Mac OS</div>
        </Card>

        <Card>
            <span slot="title"> Microsoft Technologies </span>
            <div class="py-0.5">Microsoft Office</div>
            <div class="py-0.5">Microsoft Dynamics 365 ERP</div>
            <div class="py-0.5">Power BI</div>
        </Card>

        <Card>
            <span slot="title"> Design and Editing</span>
            <div class="py-0.5">Adobe Photoshop</div>
            <div class="py-0.5">Adobe Premiere</div>
        </Card>

        <Card>
            <span slot="title"> Skills </span>
            <div class="py-0.5">Problem Solving</div>
            <div class="py-0.5">Information Technology</div>
            <div class="py-0.5">Finance & Accounting</div>
            <div class="py-0.5">Project Management</div>
            <div class="py-0.5">Administration</div>
            <div class="py-0.5">Customer Service</div>
        </Card>

        <Card>
            <span slot="title"> Languages </span>
            <div class="py-0.5">English</div>
            <div class="py-0.5">German</div>
            <div class="py-0.5">Arabic</div>
            <div class="py-0.5">French</div>
            <div class="py-0.5">Kurdish</div>
            <div class="py-0.5">Turkish</div>
        </Card>


    </div>

	
</Layout>
