---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhammad Mostey | About">
    
    <h1 id="who-am-i" class="text-6xl">Wer bin ich?</h1>
    <h3>Summary</h3>
    <p></p>
    <p></p>

    <h3 id="skills"> Skills </h3>
    <p></p>

	
</Layout>
