---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhammad Mostey | About">
    
    <h1 id="who-am-i" > Wer bin ich? </h1>
    
    <!-- Summary -->
    <h2 >Summary</h2>
    <p>Self-taught individual currently pursuing a <span class="font-semibold">Bachelor's degree in Computer Science</span> with the University of the People. 
        My fervor and enthusiasm lie in the realms of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements 
        in Technology and Computer Sciences at large.
    </p>
    
  

    <p>Experienced with more than 8 years working with Humanitarian NGOs, Private Firms, and Agencies across different countries. Worked in several sectors such as 
        <span class="font-semibold">Financial Accounting, Information Technology, Administration, and Customer Service.</span>
    </p>


    
    <!-- Skills -->
    <h2 id="skills" > Skills </h2>
    <p></p>

	
</Layout>
