---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SkCard from "../components/SkCard.astro";
import { Icon } from "astro-icon";


---

<Layout title="Muhammad Mostey | About">
    <h1 id="who-am-i">Who am I?</h1>

    <!-- Summary -->
    <h2 class="mt-6 mb-6">Summary</h2>
    <p>
        <span class="key-information text-pink dark:text-yellow-300" >Passionate Software Engineer polyglot</span>, who finds joy in solving problems with cutting-edge tech. I'm a passionate explorer and lifelong learner with a knack for unraveling the intricacies of our world. Enthusiastic problem solver, eager to contribute insatiable curiosity and analytical skills to innovative projects in the dynamic realms of science and technology.

    </p>

    <p>
        Experienced professional with 8+ years in <span class="key-information">IT, Finance, and Management </span>, now thriving as a passionate Software Developer. Open to relocation and eager to tackle new challenges with cutting-edge technology.
    </p>

    <p>
        My passion lies in the dynamic intersection of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements in Technology and Computer Sciences at large.
    </p>
    

    <!-- Skills Section-->
    <h2 id="skills" class="">Skills</h2>

    <!-- <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-2 sm:my-6 gap-4"
        id="skillCards"
    >
        <Card id="skillCard">
            <span slot="title"> Programming Languages </span>
            <div class="skillslist">
                <div class="inline ">  <Icon name="java-light" width="24" height="24" class="inline mr-0.5" /> Java </div>
                <div> <Icon name="python-light" width="24" height="24" class="inline mr-0.5" /> Python </div>
                <div> <Icon name="javascript" width="24" height="24" class="inline mr-0.5" /> Javascript </div>
                <div> <Icon name="cpp" width="24" height="24" class="inline mr-0.5" /> C++ </div>
                <div> <Icon name="php-dark" width="24" height="24" class="inline mr-0.5" /> PHP </div>
                <div> <Icon name="r-light" width="24" height="24" class="inline mr-0.5" /> R </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Web Development </span>
            <div class="skillslist">
                <div> <Icon name="html" width="24" height="24" class="inline mr-0.5" /> HTML </div>
                <div> <Icon name="css" width="24" height="24" class="inline mr-0.5" /> CSS </div>
                <div> <Icon name="tailwindcss-dark" width="24" height="24" class="inline mr-0.5" /> Tailwind CSS </div>
                <div> <Icon name="astro" width="24" height="24" class="inline mr-0.5" /> Astro </div>
                <div> <Icon name="wordpress" width="24" height="24" class="inline mr-0.5" /> WordPress </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Database Technologies </span>
            <div class="skillslist">
                <div><Icon name="sql-query" width="24" height="24" class="inline mr-0.5" /> SQL </div>
                <div> <Icon name="mysql-dark" width="24" height="24" class="inline mr-0.5" /> MySQL </div>
                <div><Icon name="dynamodb-dark" width="24" height="24" class="inline mr-0.5" /> Relational Database Design </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Tools and Systems </span>
            <div class="skillslist">
                <div> <Icon name="vscode-light" width="24" height="24" class="inline mr-0.5" />  VS Code </div>
                <div> <Icon name="github-dark" width="24" height="24" class="inline mr-0.5" /> Git & Github </div>
                <div> <img alt="Windows" src="https://img.shields.io/badge/Windows-0078D6?logo=windows&logoColor=white" class="inline mr-0.5"> Windows </div>
                <div> <Icon name="linux-dark" width="24" height="24" class="inline mr-0.5" /> Linux </div>
                <div> <img alt="Apple" src="https://img.shields.io/badge/mac%20os-000000?logo=apple&logoColor=white" class="inline mr-0.5"> Mac OS </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Microsoft Technologies </span>
            <div class="skillslist">
                <div> <Icon name="microsoftoffice" width="24" height="24" class="inline mr-0.5" /> Microsoft Office </div>
                <div> <Icon name="microsoft-dynamics-365" width="24" height="24" class="inline mr-0.5" /> Microsoft Dynamics 365 ERP </div>
                <div> <Icon name="microsoft-power-bi" width="24" height="24" class="inline mr-0.5" /> Power BI </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Design and Editing </span>
            <div class="skillslist">
                <div> <Icon name="photoshop" width="24" height="24" class="inline mr-0.5" /> Adobe Photoshop </div>
                <div> <Icon name="premiere" width="24" height="24" class="inline mr-0.5" /> Adobe Premiere </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Skills </span>
            <div class="skillslist">
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Problem Solving </div>
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Information Technology </div>
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Finance & Accounting </div>
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Project Management </div>
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Administration </div>
                <div> <Icon name="arrows-expand" width="24" height="24" class="inline mr-0.5" /> Customer Service </div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title"> Languages </span>
            <div class="skillslist">
                <div> <Icon name="us" width="24" height="24" class="inline mr-0.5" /> English </div>
                <div> <Icon name="de" width="24" height="24" class="inline mr-0.5" /> German </div>
                <div> <Icon name="sy" width="24" height="24" class="inline mr-0.5" /> Arabic </div>
                <div> <Icon name="fr" width="24" height="24" class="inline mr-0.5" /> French </div>
                <div> <Icon name="iq-kr" width="24" height="24" class="inline mr-0.5" /> Kurdish </div>
                <div> <Icon name="tr" width="24" height="24" class="inline mr-0.5" /> Turkish </div>
            </div>
        </Card>
    </div> -->


    <div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 my-2 sm:my-6 gap-4 text-center "
    id="skillCards">
    
    <SkCard id="skillCard">
        <i class="fas fa-code text-2xl" slot="icon"></i>
        <span slot="title"> Programming Languages </span>
        <div class="skillslist">
            <p>JavaScript, Python, Java, PHP, C, C++, SQL</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-laptop-code text-2xl" slot="icon"></i>
        <span slot="title"> Frameworks & Technologies </span>
        <div class="skillslist">
            <p>HTML, CSS, Tailwind CSS, Bootstrap, Node.js, React, Next.js, WordPress, MySQL</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-tools text-2xl" slot="icon"></i>
        <span slot="title"> Tools </span>
        <div class="skillslist">
            <p>Git, GitHub, Linux, Windows, Mac OS</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-chart-line text-2xl" slot="icon"></i>
        <span slot="title"> Data Analytics </span>
        <div class="skillslist">
            <p>Microsoft Excel, Power BI</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-briefcase text-2xl" slot="icon"></i>
        <span slot="title"> Business </span>
        <div class="skillslist">
            <p>Microsoft Dynamics 365, Microsoft Office</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-paint-brush text-2xl" slot="icon"></i>
        <span slot="title"> Design </span>
        <div class="skillslist">
            <p>Adobe Photoshop, Adobe Premiere</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-language text-2xl" slot="icon"></i>
        <span slot="title"> Languages </span>
        <div class="skillslist">
            <p>English, Arabic, Kurdish, German, Turkish</p>
        </div>
    </SkCard>

    <SkCard id="skillCard">
        <i class="fas fa-briefcase-medical text-2xl" slot="icon"></i>
        <span slot="title"> Professional Skills </span>
        <div class="skillslist">
            <p>Finance and Accounting, Project Management, IT, Administration, Programming, Data Analysis, Problem-solving, Customer Service</p>
        </div>
    </SkCard>
    
</Layout>
