---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhammad Mostey | About">
    
    <h1 id="who-am-i" class="text-6xl">Wer bin ich?</h1>
    
    <!-- Summary -->
    <br />
    <h2 class="font-bold">Summary</h2>
    <p>I am a self-taught individual currently pursuing a <span class="font-semibold">Bachelor's degree in Computer Science</span> with the University of the People. 
        My fervor and enthusiasm lie in the realms of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements 
        in Technology and Computer Sciences at large.
 
    </p>
    
    <br />

    <p>Experienced with more than 8 years working with Humanitarian NGOs, Private Firms, and Agencies across different countries. Worked in several sectors such as 
        <span class="font-semibold">Financial Accounting, Information Technology, Administration, and Customer Service.</span>
    </p>


    
    <!-- Skills -->
    <br />
    <h3 id="skills" class="font-bold"> Skills </h3>
    <p></p>

	
</Layout>
