---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Muhammad Mostey | About">
    
    <h1 id="who-am-i" > Who am I? </h1>
    
    <!-- Summary -->
    <h2 >Summary</h2>
    <p>Self-taught individual currently pursuing a <span class="key-information">Bachelor's degree in Computer Science</span> with the University of the People. 
        My fervor and enthusiasm lie in the realms of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements 
        in Technology and Computer Sciences at large.
    </p>
    
  

    <p>Experienced with more than 8 years working with Humanitarian NGOs, Private Firms, and Agencies across different countries. Worked in several sectors such as 
        <span class="key-information">Financial Accounting, Information Technology, Administration, and Customer Service.</span>
    </p>


    
    <!-- Skills -->
    <h2 id="skills" > Skills </h2>

    <div class="grid grid-cols-4 my-6 gap-4">

        <Card>
            <span slot="title"> Programming Languages </span>
            <div class="py-0.5">Java</div>
            <div class="py-0.5">Python</div>
            <div class="py-0.5">Javascript</div>
            <div class="py-0.5">HTML & CSS</div>
        </Card>

        <Card>
            <span slot="title"> Languages </span>
            <div class="py-0.5">English</div>
            <div class="py-0.5">German</div>
            <div class="py-0.5">Arabic</div>
            <div class="py-0.5">French</div>
            <div class="py-0.5">Kurdish</div>
            <div class="py-0.5">Turkish</div>
        </Card>


    </div>

	
</Layout>
