---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro'
---

<Layout title="Muhammad Mostey | About">
    

    <h1 id="who-am-i" >Who am I?</h1>
    
    <!-- Summary -->
    <h2 class="mt-6 mb-6">Summary</h2>
    <p>Self-taught individual currently pursuing a <span class="key-information">Bachelor's degree in Computer Science</span> with the University of the People. 
        My fervor and enthusiasm lie in the realms of Programming, Artificial Intelligence, Software and Web Development, Robotics, Self-driving Cars, as well as the latest advancements 
        in Technology and Computer Sciences at large.
    </p>
    
    <p>Experienced with more than 8 years working with Humanitarian NGOs, Private Firms, and Agencies across different countries. Worked in several sectors such as 
        <span class="key-information">Financial Accounting, Information Technology, Administration, and Customer Service.</span>
    </p>

    
    <!-- Skills Section-->
    <h2 id="skills" class="mt-12 mb-6">Skills</h2>

    <div class="grid grid-cols-1 sm:grid-cols-1 lg:grid-cols-4 my-8 sm:my-16 gap-4" id="skillCards">
    
        <Card id="skillCard">
            <span slot="title">Programming Languages</span>
            <div class="skillslist">
                <div>Java</div>
                <div>Python</div>
                <div>Javascript</div>
                <div>C++</div>
                <div>PHP</div>
                <div>R</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Web Development</span>
            <div class="skillslist">
                <div>HTML</div>
                <div>CSS</div>
                <div>Tailwind CSS</div>
                <div>Astro</div>
                <div>WordPress</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Database Technologies</span>
            <div class="skillslist">
                <div>SQL</div>
                <div>MySQL</div>
                <div>Relational Database Design</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Tools and Systems</span>
            <div class="skillslist">
                <div>VS Code</div>
                <div>Git & Github</div>
                <div>Windows</div>
                <div>Linux</div>
                <div>Mac OS</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Microsoft Technologies</span>
            <div class="skillslist">
                <div>Microsoft Office</div>
                <div>Microsoft Dynamics 365 ERP</div>
                <div>Power BI</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Design and Editing</span>
            <div class="skillslist">
                <div>Adobe Photoshop</div>
                <div>Adobe Premiere</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Skills</span>
            <div class="skillslist">
                <div>Problem Solving</div>
                <div>Information Technology</div>
                <div>Finance & Accounting</div>
                <div>Project Management</div>
                <div>Administration</div>
                <div>Customer Service</div>
            </div>
        </Card>

        <Card id="skillCard">
            <span slot="title">Languages</span>
            <div class="skillslist">
                <div>English</div>
                <div>German</div>
                <div>Arabic</div>
                <div>French</div>
                <div>Kurdish</div>
                <div>Turkish</div>
            </div>
        </Card>


    </div>

	
</Layout>
