---
import Layout from '../layouts/Layout.astro';
import devguy from '../assets/images/developer-guy.png';
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';

---

<Layout title="Muhammad Mostey | Home" description="My website Home Page">
    <div class="flex flex-row justify-between items-center">
        
        <div class=" w-1/2 flex justify-center items-center py-10">
            <Image src={devguy} width={1200} height={1100} quality={80} alt="A rocketship in space." format="webp"/>
        </div>
        
        <div class="w-1/2 flex flex-col justify-between items-center">
            
            <!-- <div class=" flex justify-center text-4xl mb-2  "> -->
            <div class="text-center text-6xl mb-2  ">
                Muhammad M. Mostey <br /> 
                <span class="text-5xl">Full Stack </span> <span class="text-5xl text-green-600 dark:text-green-400 ">Developer</span>
                
                <!-- <span class="flex justify-center text-6xl mb-2"> Muhammad  Mostey </span>  -->
                <!-- <span class=" "> Full Stack Developer </span>  -->
            </div>
            

            <div class="mb-6 leading-relaxed"> 
                Visionen mit Code und <span class="text-red-600 dark:text-yellow-300">Technologie</span> 
                zum Leben erwecken. <br />

                <!-- Du wolltest schon immer wissen wie du eine Website programmierst? Ich
                zeige dir in zahlreichen Tutorials wie du das mit HTML, CSS und
                JavaScript am besten machst. Update! -->
            </div>

            <Button  url="" external="true" />


        </div>
        
        
    </div>


	
</Layout>
