---
import Layout from '../layouts/Layout.astro';
import devguy from '../assets/images/developer-guy.png';
import resume from '../assets/documents/Resume - Muhammad Mostey.pdf';
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';



---

<Layout title="Muhammad Mostey | Home" description="My website Home Page">
    <div class="flex flex-row justify-between items-center">
        
        <div class=" w-1/2 flex justify-center items-center py-10">
            <Image src={devguy} width={1200} height={1100} quality={80} alt="A rocketship in space." format="webp"/>
        </div>
        
        <div class="w-1/2 flex flex-col justify-between items-center pb-11">
            
            <!-- <div class=" flex justify-center text-4xl mb-2  "> -->
            <div class="text-center text-6xl mb-2  font-medium ">
                
                Muhammad M. Mostey <br /> 
                <!-- <span class="text-5xl font-normal">Full Stack </span> <span class="font-normal text-5xl text-green-600 dark:text-green-400 ">Developer</span> -->
                <div class="text-5xl">
                    <span class="text-5xl" >-/></span>
                    <span id="dynamic-header-text" class="text-5xl font-normal text-pink dark:text-yellow-300">Full Stack Developer</span>
                </div>
                
                
                
                <!-- <span class="flex justify-center text-6xl mb-2"> Muhammad  Mostey </span>  -->
                <!-- <span class=" "> Full Stack Developer </span>  -->
            </div>
            

            <div class="mb-6 leading-relaxed "> 
            
                Bringing visions to life with code and <span class="text-pink dark:text-yellow-300"> technology. </span> 
                 <br />

                <!-- Du wolltest schon immer wissen wie du eine Website programmierst? Ich
                zeige dir in zahlreichen Tutorials wie du das mit HTML, CSS und
                JavaScript am besten machst. Update! -->
            </div>

            <div class="flex flex-row justify-between items-center ">
                <Button  url={resume} external={true} title="Resume" />
                <Button  url="#"  title="Projects" direction="down" css="ml-4" />

                <a href="mailto:muhammadmostey@gmail.com" class="ml-4  text-dark dark:text-light underline font-semibold">
                    Contact📨
                </a>

            </div>

            
            

        </div>
        
        
    </div>


	
</Layout>
