---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Muhammad Mostey | Home" description='My website Home Page'>
    <div class="flex flex-row justify-between items-center">
        <div class=" w-1/2 flex justify-center items-center py-10">
            <img src="../images/developer-guy.png/" alt="">
        </div>
        
        <div></div>
    </div>


	
</Layout>
