---
import Layout from '../layouts/Layout.astro';
import devguy from '../assets/images/developer-guy.png';
import devguyb from '../assets/images/dev-guy-b.png';
import devguyf from '../assets/images/dev-guy-f.png';
import devguyr from '../assets/images/dev-guy-r.png';
import devguyn from '../assets/images/dev-guy-n.png';
import resume from '../assets/documents/Resume - Muhammad Mostey.pdf';
import { Image } from 'astro:assets';
import Button from '../components/Button.astro';
---

<Layout title="Muhammad Mostey | Home" description="Muhammad Mostafa Mostey's Personal Portfolio Website">

    <!-- Section 1 in the homeoage -->
    <div class="flex flex-col xl:flex-row justify-between items-center">
        
        <!-- Part 1 of the first homepage section (Image) -->
        <div class="w-3/4 sm:w-3/5 xl:w-1/2 flex justify-center items-center xl:px-6 mb-4 xl:mb-0">
            <Image src={devguyn} width={1200} height={1100} quality={80} alt="A rocketship in space." format="webp" class="index-main-image"/>
        </div>
        
        <!-- Part 2 of the first homepage section (Headline, subheading, buttons) -->
        <div class=" w-full xl:w-1/2 flex flex-col justify-between items-center ">
            <!-- Headline -->
            <div class="text-center text-2xl  md:text-6xl sm:mb-4 mb-6   ">
                
                <span class="font-semibold md:font-medium">Muhammad M. Mostey</span> <br /> 
            
                <!-- <span class="text-5xl font-normal">Full Stack </span> <span class="font-normal text-5xl text-green-600 dark:text-green-400 ">Developer</span> -->
                <div class="sm:mt-4 mt-6 text-2xl md:text-5xl">
                    <!-- <span class="text-5xl" >-/></span> -->
                    <span id="dynamic-header-text" class="font-medium md:font-normal text-pink dark:text-yellow-300 ">Full Stack Developer</span>
                </div>
                
                <!-- <span class="flex justify-center text-6xl mb-2"> Muhammad  Mostey </span>  -->
                <!-- <span class=" "> Full Stack Developer </span>  -->
            </div>

            <!-- Headline subheading -->
            <div class="mt-0 mb-4 md:mb-6 leading-relaxed text-center xl:text-start "> 
            
                Bringing visions to life with code and <span class="text-pink dark:text-yellow-300"> technology. </span> 
                 

                <!-- Du wolltest schon immer wissen wie du eine Website programmierst? Ich
                zeige dir in zahlreichen Tutorials wie du das mit HTML, CSS und
                JavaScript am besten machst. Update! -->
            </div>

            <div class="flex flex-row justify-between items-center ">
                <Button  url={resume} external={true} title="Resume" css=" mx-1 md:mx-2" />
                <Button  url="/projects"  title="Projects" direction="project" css=" md:ml-4 md:mx-2 mx-2" />
            </div>

            <div class="flex flex-col items-center my-2">
                <a href="mailto:muhammadmostey@gmail.com" class="ml-4 text-dark dark:text-light underline font-semibold">
                    Contact
                </a>
            </div>

        </div>

    </div>

</Layout>
