---
import Layout from '../layouts/Layout.astro';
import devguy from '../assets/images/developer-guy.png';
import { Image } from 'astro:assets';

---

<Layout title="Muhammad Mostey | Home" description="My website Home Page">
    <div class="flex flex-row justify-between items-center">
        
        <div class=" w-1/2 flex justify-center items-center py-10">
            <Image src={devguy} width={1200} height={1100} quality={80} alt="A rocketship in space." format="webp"/>
        </div>
        
        <div class="w-1/2 flex flex-col justify-between">
            <div class="text-5xl mb-4">
                Visionen mit <br />
                Code und <span class="text-red-600 dark:text-green-300">Technologie</span> <br />
                zum Leben erwecken. <br />
            </div>
            

            <div class=""> 
                Du wolltest schon immer wissen wie du eine Website programmierst? Ich
                zeige dir in zahlreichen Tutorials wie du das mit HTML, CSS und
                JavaScript am besten machst. Update!
            </div>

        </div>
    </div>


	
</Layout>
