
---
const {url, external, direction, title, css, icon} = Astro.props;
import {Icon} from "astro-icon";


export interface Props {
  url: string;
  external ?: boolean;
  direction ? : string;
  title : string;
  css ? : string;
  icon ? : string;
}

---


<p class="m-0">
    <a
      href={url}
      target={external ? "_blank" : undefined}
      rel = {external ? "noopener noreferrer" : undefined}
      class={`inline-flex items-center rounded-lg border-2 border-solid  
            bg-dark text-light p-2 px-4 md:py-2.5 md:px-6 font-semibold hover:border-dark hover:bg-transparent hover:text-dark 
            dark:bg-light dark:text-dark dark:hover:border-light dark:hover:bg-dark dark:hover:text-light 
            ${css}`}
    >
      <span>{title}</span>

      {external ? (<Icon name="ph:arrow-square-out" width="24" height="24" class="ml-2" />) : ("")}
      


      {direction === "down" ? (<Icon name="ph:arrow-square-down" width="24" height="24" class="ml-2" />) : ("")}
      {direction === "project" ? (<Icon name="api-app" width="24" height="24" class="ml-2" />) : ("")}


    </a>
  </p>