---
import NavigationSocialIcon from "./NavigationSocialIcon.astro";
---


<!-- social media icons -->

<NavigationSocialIcon 
    icon="logos:twitter" 
    url="https://twitter.com/MuhammadMostey" 
    title="Twitter"
    target="_blank"
/>

<NavigationSocialIcon 
    icon="mdi:linkedin" 
    url="https://www.linkedin.com/in/mostey/" 
    title="LinkedIn"
    target="_blank"
/>



<!-- portfolio icons -->
<NavigationSocialIcon 
    icon="mdi:github" 
    url="https://github.com/MuhammadMostey" 
    title="GitHub"
    target="_blank"
/>

<NavigationSocialIcon 
    icon="simple-icons:leetcode" 
    url="https://leetcode.com/muhammadmostey/" 
    title="leetcode"
    target="_blank"
/>



<!-- contact icons -->
<NavigationSocialIcon 
    icon="mdi:alternate-email" 
    url="mailto:muhammadmostey@gmail.com" 
    title="Email"
/>

<NavigationSocialIcon 
    icon="mdi:phone" 
    url="tel:+9647513506096" 
    title="Mobil Number"
/>

<!-- <NavigationSocialIcon 
    icon="mdi:telegram" 
    url="https://t.me/muhammadmostey" 
    title="Telegram"
/> -->

<!-- Night mode button-->
<div id="colorSwitch" class="hover:cursor-pointer bg-dark rounded-full p-1">
    <img src="/icons/moon.svg" alt="moon" class="w-5 h-5" />
</div>