---
const {tagName, css, url} = Astro.props;
export interface Props {
  tagName: string;
  css ?: string;
  url ?: string;
}

---

<a href={url} class={`inline-block bg-opacity-40 rounded-xl ${css} px-1 text-sm`}>
  <div>{tagName}</div>
</a>