---
const {url, live, direction, title, css} = Astro.props;
import {Icon} from "astro-icon";


export interface Props {
  url: string;
  live ? : boolean;
  direction ? : string;
  title : string;
  css ? : string;
}

// hover:border-dark hover:bg-transparent hover:text-dark 
// hover:border-pink hover:bg-pink hover:text-white
// dark:hover:border-light dark:hover:bg-dark dark:hover:text-light
// dark:hover:border-yellow-300 dark:hover:bg-yellow-300 dark:hover:text-dark

---


<p class="m-0">
    <a
      href={url}
      target={"_blank"}
      rel = {live ? "noopener noreferrer" : undefined}
      class={`inline-flex items-center rounded-lg border-1 border-solid p-1 px-2 mr-1 md:mr-2 text-sm 
            bg-dark text-light font-semibold dark:bg-light dark:text-dark hover:border-pink hover:bg-pink hover:text-white  dark:hover:border-yellow-300 dark:hover:bg-yellow-300 dark:hover:text-dark 
            ${css}`}
    >
      <span>{title}</span>

      {live ? (<Icon name="ph:arrow-square-out" width="16" height="16" class="ml-2" />) : (<Icon name="source-code" width="16" height="16" class="ml-2" />)}
      {direction === "down" ? (<Icon name="ph:arrow-square-down" width="24" height="24" class="ml-2" />) : ("")}

    </a>
  </p>


  