<div class="border-2 border-dark dark:border-light p-2 rounded-xl text-center" style="height: auto;">
    <div class="bg-dark dark:bg-light text-light dark:text-dark rounded-md py-0.5">
        <slot name="icon" />
        <br>
        <slot name="title" class="" />
        
        
    </div>
    <slot />

</div>